/* Navbar */
.logo {
	max-width: 50px; /* Adjust accordingly */ 
}

.nav-link {
	font-family: Lato;
	font-size: 13px;
}

/* Jumbotron */
.jumbotron {
	background-image: url('../img/jumbbg.jpg');
	background-size: cover;
	text-align: center;
}

/* Utility */
.btn {
	font-family: Lato;
	border-radius: 1px;
	font-size: 13px;
}

.text {
	text-transform: uppercase;
	color: #fff;
}
h4.text {
	text-transform: uppercase;
}

.warna {
	background-color: grey;
	color: #fff;
}

/* Desktop Version */
@media (min-width: 992px) { 
	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}
	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid;
		width: 50%;
		margin: auto;
		padding-bottom: 5px; 
		margin-bottom: -8px;
	}

	.btn{
		text-transform: uppercase;
	}
}